.bottom-banner {
  background: #0e0131;
  position: absolute;
  left: 0;
  width: 100vw;
  padding-top: 5rem;
  padding-bottom: 15rem;
}

.banner-row {
  height: 20rem;
  margin-bottom: 1rem;
}

.banner-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 4px 8px rgb(255, 141, 10);
}

.banner-text {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  padding: 0 5rem;
  text-align: center;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .btn-sm {
    background-color: rgb(44, 3, 82);
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0;
    padding: 0.4rem 0.9rem;
    border-radius: 7px;
    border: none;
    margin-top: 2rem;
  }

  .btn-sm:hover {
    background-color: rgb(68, 54, 82);
    border: none;
  }
}
