.movie-detail-container {
    display: flex;
    justify-content: center;
  }
  
  .movie-detail-card {
    max-width: 500px;
    width: 100%;
    
  .btn-sm {
    background-color: rgb(44, 3, 82);
    font-size: 0.7rem;
    font-weight: 700;
    margin: 0;
    padding: 0.3rem 0.7rem;
    border-radius: 5px;
    border: none;
  }

  .btn-sm:hover {
    background-color: rgb(68, 54, 82);
    border: none;
  }
  }
  
  .movie-detail-image {
    height: 300px;
    object-fit: cover;
  }
  
  .buy-ticket-button {
    min-width: 80px;
  }
  