.movie-card:hover {
  transform: scale(1.05);
}

.dropdown-filter {
  justify-self: flex-end;
  margin-top: 2rem;
}

.movie-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
