.header {
  background: linear-gradient(to right, #b21f1f, #fdbb2d);
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
.header-title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(114, 113, 113, 0.5);
}

.header-subtitle {
  font-size: 1rem;
  color: #fff;
  font-style: italic;
  margin-left: 1rem;
}
