.header {
  background: #0e0131;
  padding: 1rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 4px 8px rgb(255, 141, 10);
  margin-left: 10px; 
}

.header-title:hover {
  color: #c5bfbf;
  cursor: pointer;
}

.header-title-link {
  text-decoration: none;
  color: #fff;
}

.header-subtitle {
  font-size: 1rem;
  color: #fff;
  font-style: italic;
  font-weight: 600;
}
