.sidebar-toggle {
  z-index: 1050;
  border: none;
  background: transparent !important;
}
.side-bar-content {
  background: #0e0131;
  .btn-close {
    color: white !important;
  }
}
.side-bar-options {
  background-color: transparent;
  border: none;
  .list-group-item {
    background-color: transparent;
    border: none;
  }
}
.nav-link {
  text-decoration: none;
  color: rgb(250, 250, 250);
}

.nav-link:hover {
  color: rgb(255, 115, 0);
}
